*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: brushscript;
}
body {
            background-color: #FFF0F5;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5%;
        }

        .gif-container {
            position: absolute;
        }

        .gif {
            margin-top: 100%;
            transform: translate(-50%, -50%);
        }
        .buttons {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .button {
            padding: 10px 20px;
            margin: 0 10px;
            background-color: #ADD8E6;
            backdrop-filter: blur(10px) saturate(180%);
            -webkit-backdrop-filter: blur(16px) saturate(180%);;
            border: 1px solid #ADD8E6;
            border-radius: 5px;
            cursor: pointer;
            opacity: 0.9;
            transition: all 0.3s ease;
        }
        .button:hover {
            opacity:1;
        }
